body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(png2.jpg);
    background-repeat: repeat; 
    background-size: cover; 
    background-attachment: fixed;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
            }
   
  
  .highlight{
    background-color: palevioletred;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .underline{
    text-decoration: underline;
  }
  
  .bold{
    font-weight: bold;
  }
  .paragraph-container {
    margin-top: 20px;
  }
  
  .paragraph {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .hidden {
    display: none;
  }
  .visible {
    display: block; 
  }
  .container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
  }
